@{
    ViewData["Title"] = "Backend3";
}

<h1>Welcome to Backend3</h1>

<div>
    <h2>Mockups</h2>
    <ul>
        <li><a href="@Url.Action("Quiz", "Mockups")">Quiz</a></li>
        <li><a href="@Url.Action("QuizResult", "Mockups")">Quiz Result</a></li>
    </ul>
</div>

<footer>
    <p>© 2019 - Backend3</p>
</footer>